.games {
  $this: &;

  color: $white;
  display: flex;
  flex-direction: column;

  //Enter animations for when user is in viewport of game
  &--enter {
    #{$this}__title {
      animation: fade-in-top .2s cubic-bezier(.4,0,.2,1) .1s both;
    }

    #{$this}__release {
      animation: fade-in-top .3s cubic-bezier(.4,0,.2,1) .2s both;
    }

    #{$this}__description {
      animation: fade-in-top .4s cubic-bezier(.4,0,.2,1) .3s both;
    }

    #{$this}__boxart {
      animation: fade-in-left .3s cubic-bezier(.4,0,.2,1) .1s both;
    }

    #{$this}__platform {
      animation: fade-in-left .4s cubic-bezier(.4,0,.2,1) .2s both;
    }

    #{$this}__sales {
      animation: fade-in-left .5s cubic-bezier(.4,0,.2,1) .3s both;
    }
  }

  p {
    font-size: $text-xl;
    opacity: 0;

    span {
      color: $white-off;
    }
  }

  &__item {
    position: relative;
    height: 100vh;
    margin: $space-xl 0;
    text-shadow: 0px 0px 2px rgba($black,0.8);

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.5);
      z-index: -9;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: inset 0 0 30px 30px rgba($black ,0.75);
    }
  }

  &__video {
    background-color: $black;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -10;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.8s ease-in-out;
    opacity: 0;

    &.show {
      opacity: 1;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    div {
      margin-left: $space-2xl;
      height: 352px;
    }
  }

  &__boxart {
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: $space-lg;
    transition: transform 0.1s ease;
    height: 352px;
    width: 264px;
    opacity: 0;

    &:hover {
      transform: scale(1.1)
    }
  }

  &__title {
    font-size: $text-4xl;
    margin: $space-lg 0 $space-sm;
    width: 65%;
    opacity: 0;
  }

  &__info {
    width: 65%;
  }

  &__release {
    color: $white-off;
    font-family: 'Satoshi-bold';
    font-size: $text-2xl;
    margin-bottom: $space-xl;
  }

  &__description {
    color: $white-off;
    font-size: $text-xl;
    line-height: 1.4;
    width: 90%;
  }
}