header {
  color: $white;
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  //background animation shamelessy copied from
  //https://codepen.io/Jeromche/pen/KKQrGgP
  &::before {
    content: '';
    position: absolute;
    height: 750px;
    width: 750px;
    filter: blur(40px);
    background-image: linear-gradient($gold, $black);
    animation: rotate 50s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  h1 {
    font-size: $text-7xl;
    width: 700px;
    margin: 0 auto $space-lg;
    line-height: 1.1;

    span {
      color: $gold;
    }
  }

  p {
    font-size: $space-xl;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  100% {
    transform: rotate(360deg);
    border-radius: 70% 30% 30% 70% / 30% 30% 70% 70%;
  }
}

